//  Sandbox Specification File Template

// Define IP Specification
//  Signals capture interface ports
//  Transitions define the interface automata model
//  Resources define virtual resource requirements
<IP_name>.def{
  // Signal types: input, output
  <signal_name> : <signal_type>,  // Interface ports
  <vector_name> : <signal_type>(<length>),

  transitions{
    s0         : <signal_name>  : s<integer>, // s0 always initial state
    s<integer> : !<signal_name> : s<integer>,
  },

  resources{
    <resource_name> : { <option_name> : <option_setting> }
  }
}

// Define extended logic
//  Logic signals allow more complex behavior of the generated checker
//  Prohibited expressions define illegal actions according to PSL SERE
logic.def{
  // Logic operators: and, or, ==, !=
  <signal_name> : <signal_name> <logic_operator> <signal_name>,

  <signal_name> : counter {   // Counter example
    on:     <signal_name>,
    start:  <integer>,
    end:    <integer>
  },

  prohibited{
    { <signal_name> : <signal_name> },            // fusion
    { <signal_name> ; <signal_name> },            // concatenation
    { <signal_name>[ *<integer> ]   },            // kleene star
    { <signal_name>[ =<integer> .. <integer> ] }, // non-consecutive repeat
  }
}
